<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.startups.nitrr.ecell.ecellapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS"></uses-permission>
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS"></uses-permission>

    <application
        android:name=".helper.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ecell_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity android:name=".splash_screen.view.SplashScreenActivity">
        </activity>
        <activity android:name=".home.view.Home" />
        <activity android:name=".welcome.view.WelcomeActivity" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".LogIn_Mvp.view.LogIn"></activity>
        <activity android:name=".about_us.AboutUs" />
        <activity
            android:name=".blogs.view.Blogs"
            android:label="@string/activity_blogs" />
        <activity android:name=".contact_us.ContactUs" />
        <activity android:name=".sign_in.view.SignInActivity" />
        <activity
            android:name=".fb.fb_login"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".set_up_profile.view.SetUpProfile" />
        <activity android:name=".events.view.ListOfEvents" />
        <activity android:name=".LogIn.LogIn" />
        <activity android:name=".LogIn.Sms_Verification" />
        <activity android:name=".LogIn.Bquiz_Intro" />
        <activity android:name=".send_otp.view.SendOtp" />
        <activity android:name=".LogIn.BQuizQuestion" />

        <receiver android:name=".LogIn.SmsReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity android:name=".BQuizNew.view.BQuizActivity">



        </activity><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>